select {
    background: var(--input-default);
    /* color: rgb(0, 0, 0); */
    /* text-transform: uppercase; */
    font-size: 1rem;
    font-weight: normal;
    padding: 1.25rem 1rem;
    border-radius: 50px; 
    border: 2px;
    /* cursor: pointer;
    transition: all ease-in 0.3s;
    border: 3px solid var(--light); */
  }

    select:target {
    /* background: var(--light); */
    background: green;
    border: 2px solid var(--primary);
  }

  input:hover {
    background: var(--light);
    border: 2px solid var(--primary);
  }


    /* input:typed { */
  /* .typed {
    background: var(--light);
    border: 2px solid var(--dark);
  } */

  /* input:selected { */
  /* .selected {
    background: var(--light);
    border: 2px solid var(--primary);
  } */
