<div class="class">
<h1>HELLO WORLD!! Fabio é um lindo!</h1>
</div>

<!-- <app-primeiro-componente></app-primeiro-componente>
<app-diretivas></app-diretivas>
<app-if-render></app-if-render>
<app-eventos></app-eventos>
<app-emiter></app-emiter>  
<app-list-render></app-list-render> -->
<!-- <app-botao>Açao primaria</app-botao>
<app-botao-transparente>Select</app-botao-transparente> -->

<h1>Para casa Testes</h1>

<h3>Inputs</h3>

<!-- verificar se tamanho ok e padings, quando projeto passar pra rm -->

<app-input id="default"  placeholder_text="Input_default"></app-input>
<app-input id="typed"    placeholder_text="Input_typed"></app-input>
<app-input id="selected" placeholder_text="Input_selected"></app-input>

<h3>Textboxes</h3>

<app-textbox placeholder_textbox="Place Holder do Fabinho"></app-textbox>
<app-textbox id="typing" placeholder_textbox="Place Holder do fabionho typing"></app-textbox>
<app-textbox id="typed" placeholder_textbox="Place Holder do Fabinho typed"></app-textbox>

<h3>Label com input</h3>

<h3>Label com input Input-dropdown</h3>

<app-input-label>Texto do label</app-input-label>
<app-input id="com" placeholder_text="Input com label"> </app-input> -->
<app-input id="default"  placeholder_text="Input_default"></app-input>


 <app-input id="com" placeholder_text="Place Holder do Fabinho"></app-input>

<app-botao-transparente>Select</app-botao-transparente>

 <app-input-dropdown placeholder_text="Place Holder do Fabinho">
    Input-dropdown
</app-input-dropdown> 

