
<div class="class"> 
    <h2>Meu primeiro componente, espero que seja azul</h2>    
    <p>P é de paragrafo</p>
    <h2> Minha variavel é: {{ nome_da_variavel }} </h2>
    <h3> A idade é: {{ idade }} </h3>
    <h3> hobbies, primeiro: {{ hobbies[0] }} segundo: {{ hobbies[1] }} terceiro: {{ hobbies[2] }}  </h3>
    <h3> Classe: nome do carro:  {{ classeCarro.nome }} , ano do carro: {{ classeCarro.ano }}    </h3>

    <h3 class="title"> Esse tem estilo </h3>

    <app-parent-data [Name] = "userName" [DataUser]="DataUser" ></app-parent-data>

</div>

<!-- 

<app-diretivas></app-diretivas> -->
